<ion-modal-view ng-controller="LoginCtrl">
  <ion-header-bar>
    <h1 ng-if="!isAuthenticated()" class="title">Please log in</h1>
      <h1 ng-if="isAuthenticated()" class="title">Welcome!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-if="!isAuthenticated()" ng-submit="doLogin()">
      <div class="list">       
          <label class="item">
         <button class="button button-block button-positive" ng-click="authenticate('facebook')" type="submit">Sign in with Facebook</button>
        </label>  
      </div>
    </form>
         
      <form ng-if="isAuthenticated()" ng-submit="doLogin()">
      <div class="list">       
          <label class="item">
           <button class="button button-block button-positive" ng-if="isAuthenticated()" ng-click="logout()">Logout</button>
        </label>  
      </div>
    </form>
        
  </ion-content>
</ion-modal-view>
